# Ignore CSV dataset
*.csv
data/

# Ignore all pickle except model + vectorizer
*.pkl
!models/
!models/sentiment_model.pkl
!models/vectorizer.pkl

# Python cache
__pycache__/
*.pyc

# Virtual env
venv/
.env/
